<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willkommen auf meiner Website!</title>
    <!-- Verlinkung der externen CSS-Datei -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <!-- Link + Navigation im Flexbox-Container -->
        <div style="display: flex; align-items: center;">
            <!-- Logo -->
            <a href="/">
                <img src="/static/images/logo.jpg" alt="Logo" class="logo">
            </a>
            <!-- Navigation -->
            <nav class="header-links">
                <a href="/">Home</a>
                <a href="/macos">MacOS</a>
                <a href="/windows">Windows</a>

            </nav>
        </div>
        <!-- Login -->
        <div>
            <a href="/login" class="login">Anmelden</a>
        </div>
    </header>

    <!-- Header-Bereich mit Bild und Text -->
    <div class="image-container">
        <img src="/static/images/home.jpg" alt="Header Image">
        <div class="header-content">
            <h1>Willkommen auf meiner Website!</h1>
            <p>Hier kannst du meine Python-Apps ausprobieren und mehr über meine Projekte erfahren.</p>
        </div>
    </div>

    <!-- Hauptinhalt -->
    <main>
        <section>
            <p>Willkommen auf meiner Startseite! Hier gibt es spannende Projekte und Apps zu entdecken.</p>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        &copy; 2024 JR_website. Alle Rechte vorbehalten.
         <a href="/datenschutz" class="footer-link">Datenschutz</a>
    </footer>
</body>
</html>
