<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Verlinkung der externen CSS-Datei -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <!-- Link + Navigation im Flexbox-Container -->
        <div style="display: flex; align-items: center;">
            <!-- Logo -->
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="logo">
            </a>
            <!-- Navigation -->
            <nav class="header-links">
                <a href="/">Home</a>
                <a href="/macos">MacOS</a>
                <a href="/windows">Windows</a>
            </nav>
        </div>
        <!-- Login -->
        <div>
            <a href="/login" class="login">Anmelden</a>
        </div>
    </header>

    <!-- Header-Bereich mit Bild und Text -->
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/' + header_image) }}" alt="Header Image">
        <div class="header-content">
            <h1>{{ title }}</h1>
            <p>{{ header_content }}</p>
        </div>
    </div>

    <!-- Hauptinhalt -->
    <main>
        <section>
            <p>{{ main_content }}</p>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        &copy; 2024 Jonathan. Alle Rechte vorbehalten.
    </footer>
</body>
</html>
