<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<style>
    main {
        padding: 20px;
    }
</style>
<body>
<!-- Header -->
<header>
    <div style="display: flex; align-items: center;">
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="logo">
        </a>
        <nav class="header-links">
            <a href="/">Home</a>
            <a href="/macos">MacOS</a>
            <a href="/windows">Windows</a>
            {% if session.get('username') %}
                <!-- Jonathan-Link mit Dropdown-Menü -->
                <div class="dropdown">
                    <a href="#" class="dropdown-link">Jonathan</a>
                    <div class="dropdown-content">
                        <a href="/advent">Adventskalender</a>
                        <a href="/jonathan">Jonathans Seite</a>
                        <a href="/dashboard">Dashboard</a>
                        <a href="/einstellungen">Einstellungen</a>
                        <a href="/logout">Abmelden</a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </div>
    <div>
        {% if session.get('username') %}
            <a href="/logout" class="login">Abmelden</a>
        {% else %}
            <a href="/login" class="login">Anmelden</a>
        {% endif %}
    </div>
</header>

    <!-- Header-Bereich mit Bild -->
    <div class="image-container">
        <img src="/static/images/login.jpg" alt="Login Image">
        <div class="header-content">
            <h1> </h1>
        </div>
    </div>

    <!-- Login-Formular -->
    <main>
        <div class="login-container">
            <form action="/login" method="post">
               <h1>Anmelden</h1>
                <div class="form-group">
                    <label for="username">Benutzername</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <button type="submit">Login</button>
            </form>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        &copy; 2024 JR_website. Alle Rechte vorbehalten.
         <a href="/datenschutz" class="footer-link">Datenschutz</a>
    </footer>
</body>
</html>
